table {
  width: 100%;
}

td {
  padding: 10px;
}

.custom-table {
  background-color: black;
}

.custom-table .p-datatable-thead > tr > th {
  background-color: #1a1a1a; /* Darker header */
  color: #dadada;
}

.custom-table .p-datatable-tbody > tr {
  background-color: #1a1a1a; /* Darker header */
  border: #dadada;
  color: #dadada;
}

.p-datatable .p-datatable-thead > tr > th {
  background-color: #f96c2f; /* Light gray background for header */
  color: white; /* Darker text color for better contrast */
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.custom-table .p-datatable-bodyRow {
  border-top: #dadada;
}

.custom-paginator {
  background-color: #1a1a1a;
  color: #dadada;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-top: 2px solid #333;
}
